body {
  font-family: 'Roboto', sans-serif;
  color: #211922;
  font-size: 12px;
  height: 100%;
}

/* Header */

.pinterest-header {
  height: 60px;
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  padding: 5px 16px;
  border-bottom: 1px solid #efefef;
  background-color: white;
  z-index: 1000;
}

.header-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: transparent;
}

.header-options {
  background-color: transparent;
  border-radius: 999px;
  height: 43px;
  font-weight: 740;
  color: #8e8e8e;
  padding: 4px 10px;
}

.input-group {
  height: 40px;
  margin-top: 6px;
}

#initialPage {
  color: #211922;
}

.header-btn:hover,
.header-options:hover,
.pin-btn:hover,
.modal-circle-btn:hover,
.pinterest-footer .btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.header-btns {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 15px;
}

.header-btn i {
  font-size: 22px;
  color: #8e8e8e;
}

#basic-addon1 {
  background-color: #f0f0f0;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  font-weight: 700;
  color: #8e8e8e;
  border-radius: 5px 0px 0px 5px;
}

#searchInput {
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  font-weight: 700;
  width: 90%;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fa-pinterest {
  color: #bd081c !important;
  font-size: 28px !important;
  margin-left: -3px;
}

.fa-user-friends {
  margin: 3.5px -4px;
  display: none;
}

.fa-compass {
  margin: 4px -4px;
  display: none;
}

.fa-comment-dots {
  margin: 4px -3px;
}

.fa-user-circle {
  font-size: 22px;
}

.fa-bell {
  margin: 4px -1px;
}

.fa-ellipsis-h {
  margin: 6px -5px;
}

/* Footer */

.pinterest-footer {
  position: fixed;
  bottom: 14px;
  right: 14px;
  text-align: center;
  z-index: 660;
}

.pinterest-footer .btn {
  margin: 0 12.5px 12.5px 12.5px !important;
  border-radius: 100% !important;
  background-color: #fff;
  box-shadow: -1px 2px 4px -1px rgba(209, 209, 209, 1);
  color: #211922;
}

.dropdown-menu {
  width: 260px;
  border-radius: 8px;
  border: 1px solid #efefef;
  color: #333;
  padding: 0;
}

.list-group-item {
  width: 100%;
  border: none;
}

#openModal {
  border-bottom: 1px solid #efefef;
}

/* Página principal */

.main {
  padding: 24px 50px;
  column-count: 4;
  column-gap: 8px;
}

.pinWrapper {
  border: none;
  border-radius: 10px;
  padding: 6px;
}

.pinWrapper:hover {
  background-color: #f2f2f2;
  cursor: zoom-in;
}

.imageResult {
  width: 100%;
  border-radius: 8px;
}

.extra {
  width: 100%;
}

.pin-btn {
  float: right;
  background-color: transparent;
  color: #8e8e8e;
  font-size: 12px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  padding: 0;
  margin-top: 3px;
}

/* Modal imagen */

.modal-lg {
  max-width: 1000px;
  color: #211922;
}

/* Header modal */

.modal-header {
  border: none;
  padding: 20px 20px 0px 20px;
  font-weight: 900;
}

.modal-circle-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: #8e8e8e;
  background: transparent;
  position: absolute;
  left: 15px;
}

.modal-header .close {
  display: none;
}

.modal-btn-group {
  margin-right: 11px;
}

#savePin {
  margin-left: 10px;
  background-color: #bd081c;
  color: #fff;
}

/* Body modal */

.large-image-container {
  width: 650px;
  padding: 10px 20px;
}

.image-result {
  width: 100%;
  border-radius: 10px;
}

.right-content {
  width: 344px;
  padding-top: 10px;
  padding-right: 20px;
}

.right-btn,
.right-comments {
  width: 100%;
  font-weight: 900;
}

.right-comments {
  margin: 10px 0px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 15px 0px;
  font-size: 21px;
}

.right-comments span {
  color: #333;
}

.right-comments i {
  float: right;
  font-size: 30px;
  padding-right: 10px;
  color: rgb(142, 142, 142);
}

.right-info, .info-user {
  align-items: center;
}

.info-user {
  display: flex;
}

.info-user i {
  color: rgb(142, 142, 142);
  font-size: 40px;
}

.info-user span {
  font-size: 15px;
  position: absolute;
  padding-left: 45px;
}

.info-pins {
  font-size: 15px;
}

.info-pins i {
  padding-right: 5px;
}

/* Modal subir un pin */

.modal-dialog-centered {
  max-width: 804px;
  max-height: 548.8px;
  letter-spacing: -.4px;
}

.modal-title {
  margin-left: auto;
  font-weight: 900;
}

.modal-dialog-centered .modal-header {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 20px;
}

.modal-dialog-centered .modal-body {
  padding: 20px 60px;
  height: 430px;
}

.load-container {
  border: 2px dashed rgb(142, 142, 142);
  border-radius: 10px;
  padding: 20%;
  margin-left: 20px;
  height: 100%;
  text-align: center;
}

.load-container i {
  font-size: 35px;
  margin-top: 80px;
}

.load-container p {
  font-size: 15px;
  padding-top: 8px;
  font-weight: 900;
}

/* Formulario */

form {
  width: 360px;
  margin-left: 10px;
}

form label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

form textarea {
  padding: 10px 14px;
}

/* Modal Footer */

.modal-footer {
  font-weight: 900;
  color: #8e8e8e;
}

.upload-options {
  position: absolute;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 16px;
  padding: 10px 14px 10px 3px;
  border-radius: 5px;
}

.ok-btn {
  padding: 8px 12px;
  font-weight: 900;
  color: #8e8e8e;
}

.upload-pin {
  background-color: #fff;
  padding: 10px 14px;
  border-radius: 5px;
  color: #333;
}